$yellow: #FFFF00;
$rojo: red;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    padding-top: 100px;
    padding-bottom: 20px;
}
.container-banner {
    @include margenes(-32px, 20px );
    height: 300px;
    overflow: hidden;
    background-image: url('../assets/images/one-piece-banner.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
@media (max-width: 575.98px) { 
    .container-banner {
        height: 100px;
    }
 }
.character-card{
    width: 200px;
    /* padding: 2px 2px; */
    margin: 2px 3px;
}
.btn-leer{
    width: 100%;
}
.banner-index{
    width: 100%;
    @include margenes(-32px, 20px );
}
footer {
    width: 100%;
    background-color: $yellow;
}
footer a{
    color: #000;
    
}

